

body {
  margin:0 0 0 0 ;
  background: #f7f7f7;
}
  #cl-1{
    position: absolute;
    /*background-color: red;*/
    width: 7.326007326007327%;
    height: 2200px;
    margin-right: 12px;
    left:0;
    top:0;
    /*opacity: 0.5; /* Полупрозрачность элемента */
  }
  #cl-2{
    position: absolute;
    /*background-color: red;*/
    width: 7.326007326007327%;
    height: 2200px;
    margin-right: 12px;
    left: 8.424908424908425%;
    top:0;
    /*opacity: 0.5; /* Полупрозрачность элемента */
  }
  #cl-3{
    position: absolute;
    /*background-color: red;*/
    width: 7.326007326007327%;
    height: 2200px;
    margin-right: 12px;
    left: 16.84981684981685%;
    top:0;
    /*opacity: 0.5; /* Полупрозрачность элемента */
  }
  #cl-4{
    position: absolute;
    /*background-color: red;*/
    width: 7.326007326007327%;
    height: 2200px;
    margin-right: 12px;
    left: 25.274725274725274%;
    top:0;
    /*opacity: 0.5; /* Полупрозрачность элемента */
  }
  #cl-5{
    position: absolute;
    /*background-color: red;*/
    width: 7.326007326007327%;
    height: 2200px;
    margin-right: 12px;
    left: 33.6996336996337%;
    top:0;
    /*opacity: 0.5; /* Полупрозрачность элемента */
  }
  #cl-6{
    position: absolute;
    /*background-color: red;*/
    width: 7.326007326007327%;
    height: 2200px;
    margin-right: 12px;
    left: 42.124542124542124%;
    top:0;
    /*opacity: 0.5; /* Полупрозрачность элемента */
  }
  #cl-7{
    position: absolute;
    /*background-color: red;*/
    width: 7.326007326007327%;
    height: 2200px;
    margin-right: 12px;
    left: 50.54945054945055%;
    top:0;
    /*opacity: 0.5; /* Полупрозрачность элемента */
  }
  #cl-8{
    position: absolute;
    /*background-color: red;*/
    width: 7.326007326007327%;
    height: 2200px;
    margin-right: 12px;
    left: 58.97435897435898%;
    top:0;
    /*opacity: 0.5; /* Полупрозрачность элемента */
  }
  #cl-9{
    position: absolute;
    /*background-color: red;*/
    width: 7.326007326007327%;
    height: 2200px;
    margin-right: 12px;
    left: 67.3992673992674%;
    top:0;
    /*opacity: 0.5; /* Полупрозрачность элемента */
  }
  #cl-10{
    position: absolute;
    /*background-color: red;*/
    width: 7.326007326007327%;
    height: 2200px;
    margin-right: 12px;
    left: 75.82417582417582%;
    top:0;
    /*opacity: 0.5; /* Полупрозрачность элемента */
  }
  #cl-11{
    position: absolute;
    /*background-color: red;*/
    width: 7.326007326007327%;
    height: 2200px;
    
    left: 84.24908424908425%;
    top:0;
    /*opacity: 0.5; /* Полупрозрачность элемента */
  }
  #cl-12{
    position: absolute;
    /*background-color: red;*/
    width: 7.326007326007327%;
    height: 2200px;
    margin-right: 12px;
    left: 92.67399267399267%;
    top:0;
    /*opacity: 0.5; /* Полупрозрачность элемента */
  }
  #setka{
    /*background-image: url(images/background1.jpg);
    position: absolute;
    /*margin-right: 60.5px;*/
    /*left:60.5px;*/
    position: absolute;

    width:1092px;
    height: 2304px;
    left:50%;
    background-color: #f7f7f7;
    margin-left: -546px;
    /*background: green;*/
/*opacity: 0.5;*/
    text-align: center;
    z-index: 2;
    
  }

/*
  #setka{
    /*background-image: url(images/background1.jpg);
    position: absolute;
    /*margin-right: 60.5px;*/
    /*left:60.5px;*/
 /*   position: absolute;
display:table-cell;
    width:698px;
    background-color: #f7f7f7;
   /* opacity: 0.3;*/
  /*  height: 2304px;
    left: 50%;
    margin-left: -349px;
    

    text-align: center;
    z-index: 7;
    
  }

  */
  #st-1{
  /*  background: url(images/states3.png) no-repeat ;*/
    
    position: absolute;
    /*margin-right: 60.5px;*/
    /*left:60.5px;*/
left: 50%;
margin-left: -349px;
    width:698px;
    height: 544px;
    opacity: 1; /* Полупрозрачность элемента */

  }
  
    
  }
  .img-svg path {
    fill:#211214;

  }

.link4{
    position: absolute;
    top:12px;
  width: 50px;
  height: 50px;
  background: #ffffff;
left: 8px;

  background-color: #000000;
  display: block;

  /*-webkit-mask-image: url('images/upload.svg');*/
  background: url('images/upload.svg') no-repeat;
  -webkit-mask-repeat:no-repeat;

}


.link41{
    position: absolute;
    top:0px;


  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
left: 8px;


}
.link71{
    position: absolute;
    top:10px;


  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
left: 8px;


}
#link001{
    position: absolute;
    top:147px;
z-index: 2;
visibility: hidden;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
left: 80px;



}
.link51{
     position: absolute;
    top:3px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
left: 8px;

}
.link5{
    position: absolute;
    top:9px;
  width: 50px;
  height: 50px;
  left: 9.8px;


  background-color: #f7aa00;
  display: block;

  /*-webkit-mask-image: url('images/wait.svg');*/
  background: url('images/wait.svg') no-repeat;
  -webkit-mask-repeat:no-repeat;

}
.link6{
    position: absolute;
    top:9px;
  width: 50px;
  height: 50px;
  left: 9.8px;

  background-color: #bf000d;
  display: block;

  /*-webkit-mask-image: url('images/ok.svg');*/
  background: url('images/ok.svg') no-repeat;
  -webkit-mask-repeat:no-repeat;

}
.link61{
     position: absolute;
    top:0px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
left: 8px;

}

.link10{
    position: absolute;
    top:1370px;
  width: 80px;
  height: 80px;
  left: 10px;


  background-color: #bf000d;
  display: block;

  /*-webkit-mask-image: url('images/cloud.svg');*/
  background: url('images/cloud.svg') no-repeat;
  -webkit-mask-repeat:no-repeat;

}


  #yan{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    top:23px;
    font-weight: bold;

        text-align: center;
    /*  left:4px;*/
    width: 100%;
    font-size: 11.5px;
    letter-spacing: 2px;/*между символами*/
  /*  left: 5px;*/
    color: #ffffff;
    white-space:  nowrap ;/*перенос слов*/
    }
    #yan1{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    /*font-weight: bold;*/
    top:-5px;
    font-size: 15px;
    color: #000000;
    height: 10px;
    left: 95px;
    white-space: pre; /* Учитываются все пробелы и переносы */ 
    }
    #yan11{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    /*font-weight: bold;*/
    top:0px;
    font-size: 15px;
    color: #000000;
    height: 10px;
    text-decoration: underline;
    left: 35px;
    white-space: pre; /* Учитываются все пробелы и переносы */ 
    }
    #yan12{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    /*font-weight: bold;*/
    top:30px;
    font-size: 14px;
    color: #a7a7a7;

    letter-spacing: 0.001px;/*между символами*/
    left: 97px;
    white-space: pre; /* Учитываются все пробелы и переносы */ 
    }

      #yan13{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    /*font-weight: bold;*/
    top:27px;
    font-size: 14px;
    color: #a7a7a7;
    letter-spacing: 0.001px;/*между символами*/
    left: 97px;
    white-space: pre; /* Учитываются все пробелы и переносы */ 
    }
     .yan12{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
   /* font-weight: bold;*/
    top:123px;
    font-size: 14px;
    color: #a7a7a7;
    letter-spacing: 0.001px;/*между символами*/
    left: 95px;
    white-space: pre; /* Учитываются все пробелы и переносы */ 
    }
    #yan2{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    top:1437px;
    font-size: 18.4px;
    left: -55px;
    color: #000000;
    white-space: pre; /* Учитываются все пробелы и переносы */ 
    line-height: 25px;/*между строк*/
    }
    #yan3{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    top:140px;
    font-size: 18px;
    color: #000000;
    left: 50px;
    white-space: pre; /* Учитываются все пробелы и переносы */
        line-height: 27px;/*между строк*/
  }
  #yan4{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    top:1143px;
    font-size: 18px;
    color: #000000;
    left: -25px;
    white-space: pre; /* Учитываются все пробелы и переносы */
        /*line-height: 27px;/*между строк*/
  }

  #yan5{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    top:1143px;
    font-size: 18px;
    color: #000000;
    left: -23px;
    white-space: pre; /* Учитываются все пробелы и переносы */ 
    }

    #yan6{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    top:1437px;/*1437*/
    font-size: 18.5px;
    left: -78px;
    width: 350%;
    color: #000000;
    /*white-space: pre; /* Учитываются все пробелы и переносы */ 
    line-height: 25px;/*между строк*/
    }
    #yan7{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    top:1437px;/*1437*/
    font-size: 18.5px;
    left: -43px;
    color: #000000;
    white-space: pre; /* Учитываются все пробелы и переносы */ 
    line-height: 25px;/*между строк*/
    }
    #yan8{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    top:1437px;/*1437*/
    font-size: 18.7px;
    left: -35px;
    color: #000000;
    white-space: pre; /* Учитываются все пробелы и переносы */ 
    line-height: 25px;/*между строк*/
    }
    





 #svg{
    position: absolute;
    top:155px;/*110*/
    left: 90px;
    visibility: hidden;
    z-index: 3;
    transform-origin: 16px 16px;
    -webkit-transform-origin: 16px 16px;


     /* Chrome, Safari, Opera */
          -webkit-animation-name: movewords;
          -webkit-animation-duration: 0.5s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-delay: 0s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-play-state: running;
          /* Standard syntax */
          animation-name: movewords;
          animation-duration: 0.5s;
          animation-timing-function: linear;
          animation-delay: 0s;
          animation-iteration-count: infinite;
          animation-direction: normal;
          animation-play-state: running;

  }
/* Chrome, Safari, Opera */
@-webkit-keyframes movewords {
    0%   {-webkit-transform: rotate(0deg);}
    25%  {-webkit-transform: rotate(90deg);}
    50%  {-webkit-transform: rotate(180deg);}
    75%  {-webkit-transform: rotate(270deg);}
    100% {-webkit-transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes movewords {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    75%  {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}




    
    #file1{
      position: absolute;
      top: 90px;
    }
     #file2{
      position: absolute;
      top: 180px;
    }
    #rezult{
      position: absolute;
      font-weight: bold;
      text-align: right;
     /*left: 350px;*/
     right: -160px;
      color:red;
      top:15px;
      font-family: 'Ubuntu', sans-serif;
      font-size: 14px;
    }
    #zagfile{
       visibility: hidden;
    }

    .file-upload input[type="file"]{ 
      display: none;/* ñêðûâàåì input file */ 
    } 
    .file-form-wrap{
      width:360px; 
      height: 15%;
     
    } 
    .file-upload { 
      /*position: relative;*/ 
      /*overflow: hidden; */
      width: 370px;
      height:40px;
      line-height:50px;
      background: #f7f7f7; 
      border-radius: 10px; 
      color: #000000; 
      text-align: center; 
    } 
    .file-upload:hover { 
      background: #f7f7f7; 
    } 
    /* Ðàñòÿãèâàåì label íà âñþ îáëàñòü áëîêà .file-upload */ 
    .file-upload label { 
      display: block; 
      position: absolute; 
      top: 0; 
      left: 5px; 
      width: 100%; 
      height: 100%; 
      cursor: pointer; 
    } 
    /* ñòèëü òåêñòà íà êíîïêå*/ 
    .file-upload span { 
      font-family: 'Ubuntu', sans-serif;
   /* font-weight: bold;*/

    font-size: 15px;
      font-weight:bold; 
     /* color:#000000;*/
     text-decoration: underline; 
    }
    .preview-img{ 
      max-width:100px; 
      max-height:100px; 
      margin:5px; 
    }
    